<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= title %></title>
    <%= render "partials/meta_tags.html".to_sym %>
    <link href="/static/styles/page.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="page">
      <% if flash[:message] %>
      <span class="notification"><%= flash[:message] %></span>
      <% end %>
      <%= render "partials/header.html.erb".to_sym, locals: { :title => title } %>
      <%= render "partials/quick_actions.html".to_sym %>
      <%= yield %>
    </div>
    <%= render "partials/footer.html.erb".to_sym %>
  </body>

</html>
