<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Error <%= response.status %></title>
    <%= render "partials/meta_tags.html".to_sym %>
    <link href="/static/styles/error.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="error">
      <h1>Error <%= response.status %></h1>
      <p><%= status_string response.status %>.</p>
      <a href="/" class="button">Go Home</a>
    </div>
    <%= render "partials/footer.html.erb".to_sym %>
  </body>

</html>
