<ul class="item-list">
  <% urls.each do |url| %>
    <li>
      <h1><%= escape_html url.target %></h1>
      <p><%= public_target url %> - <%= url.events.count %> total redirects</p>
      <a href="/r/<%= url.public_id %>" class="button" target="_blank">Visit</a>
      <a href="/url/<%= url.public_id %>" class="button">View Details</a>
    </li>
  <% end %>

  <% if page_count == 0 %>
    <%= render "partials/empty.html.erb".to_sym %>
  <% else %>
    <span class="pagination">
      <% unless page < 1 %>
        <a href="/url?page=<%= page-1 %>" class="button">Newer</a>
      <% else %><span class="placeholder"></span><% end %>

      <p><%= page+1 %>/<%= page_count %></p>

      <% if page+1 < page_count %>
        <a href="/url?page=<%= page+1 %>" class="button">Older</a>
      <% else %><span class="placeholder"></span><% end %>
    </span>
  <% end %>
</ul>