<% if url.events.count > 0 %>
  <h3><%= url.events.count %> Total Redirects</h3>
  <img class="line-plot" src="<%= url.events.plot(color:"738290").base64 %>">
  <p>
    Showing data from <%= format_date url.events.first.created %> to
    <%= format_date url.events.last.created %>.
  </p>
  <h3>Browsers</h3>
  <% url.events.aggregate("browser").each do |browser, count| %>
    <span class="chip" data-info="<%= count %>"><%= escape_html browser.name %></span>
  <% end %>
  <h3>Referrals and Sources</h3>
  <%
    refs = url.events.aggregate "ref"
    utms = url.events.aggregate "utm_source"
  %>
  <% refs.each do |ref, count| %>
    <a href="/ref/<%= escape_html ref %>" class="chip" data-info="<%= count %>"><%= escape_html ref %></a>
  <% end %>
  <% utms.each do |src, count| %>
    <span class="chip" data-info="<%= count %>"><%= escape_html src %></span>
  <% end %>
  <% if refs.keys.count + utms.keys.count == 0 %>
    <p>No data available.</p>
  <% end %>
<% else %>
  <%= render "partials/empty.html.erb".to_sym, locals: { message: "No recorded redirects for <i>#{escape_html url.target}</i>." } %>
<% end %>

<h3>Details</h3>
<p><strong>Target:</strong> <%= escape_html url.target_with_protocol %></p>
<p><strong>Public Id:</strong> <%= url.public_id %></p>
<p><strong>Public Target:</strong> <%= public_target url %></p>
<p><strong>Created:</strong> <%= format_time url.created %></p>

<h3>Actions</h3>
<a href="/r/<%= url.public_id %>" class="button grey" target="_blank">Visit</a>
<a href='/url/<%= url.public_id %>/delete' class='button red'>Delete</a>